In [12]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib
matplotlib.rcParams['font.family'] = 'Malgun Gothic'  # windows 한글폰트 연결
# matplotlib.rcParams['font.family'] = 'AppleGothic'  # Mac 한글폰트 연결
matplotlib.rcParams['font.size'] = 15                 # 폰트 사이즈
matplotlib.rcParams['axes.unicode_minus'] = False     # 그래프 마이너스 표시

In [13]:
### 계부분
m_df = pd.read_excel('data/202412.xlsx',skiprows=3,usecols='B,E:O',index_col='행정기관',nrows=1)
m_df.columns

c:\python3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

Index(['0~9세', '10~19세', '20~29세', '30~39세', '40~49세', '50~59세', '60~69세',
       '70~79세', '80~89세', '90~99세', '100세 이상'],
      dtype='object')

In [14]:
## 남자부분
df = pd.read_excel('data/202412.xlsx',skiprows=3,usecols='B,R:AB',index_col='행정기관',nrows=1)
df2 = pd.read_excel('data/202412.xlsx',skiprows=3,usecols='B,AE:AO',index_col='행정기관',nrows=1)

c:\python3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
c:\python3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

In [15]:
### 계 columns 가지고 와서 남:columns 변경시켜줌.
# df.rename(columns={"0~9세.1":'0~9세'})  1개씩 개별 변경
df.columns = m_df.columns
df2.columns = m_df.columns

In [16]:
df2.iloc[0]

0~9세       1,531,058
10~19세     2,245,507
20~29세     2,855,132
30~39세     3,166,585
40~49세     3,796,703
50~59세     4,315,099
60~69세     3,968,224
70~79세     2,254,795
80~89세     1,326,374
90~99세       252,368
100세 이상        7,052
Name: 전국  , dtype: object

In [17]:
# df.iloc[0] = df.iloc[0].str.replace(",","").astype(int)
df2.iloc[0] = df2.iloc[0].str.replace(",","").astype(int)

In [18]:
df.columns

Index(['0~9세', '10~19세', '20~29세', '30~39세', '40~49세', '50~59세', '60~69세',
       '70~79세', '80~89세', '90~99세', '100세 이상'],
      dtype='object')

In [19]:
df

,0~9세,10~19세,20~29세,30~39세,40~49세,50~59세,60~69세,70~79세,80~89세,90~99세,100세 이상
행정기관,,,,,,,,,,,
전국,"1,609,060","2,373,758","3,100,524","3,457,978","3,926,120","4,391,271","3,850,559","1,931,802","778,170","77,557","1,525"

In [20]:
df.loc['전국  ']

0~9세       1,609,060
10~19세     2,373,758
20~29세     3,100,524
30~39세     3,457,978
40~49세     3,926,120
50~59세     4,391,271
60~69세     3,850,559
70~79세     1,931,802
80~89세       778,170
90~99세        77,557
100세 이상        1,525
Name: 전국  , dtype: object

In [21]:
df.iloc[0]

0~9세       1,609,060
10~19세     2,373,758
20~29세     3,100,524
30~39세     3,457,978
40~49세     3,926,120
50~59세     4,391,271
60~69세     3,850,559
70~79세     1,931,802
80~89세       778,170
90~99세        77,557
100세 이상        1,525
Name: 전국  , dtype: object

In [22]:
### 막대그래프로 출력하시오.
# 세로막대그래프 출력
plt.figure(figsize=(20,10))
plt.barh(df.columns,df.iloc[0]//1000)     # 남자
plt.barh(df2.columns,-df2.iloc[0]//1000)  # 여자
# plt.xticks(rotation=90)
plt.title('연령별 인구현황')
plt.savefig('2024년연령별인구현황.png',dpi=200)
plt.show()
# 가로막대그래프 출력

TypeError: unsupported operand type(s) for //: 'str' and 'int'

In [ ]:
### 막대그래프로 출력하시오.
# 세로막대그래프 출력
plt.barh(df2.columns,-df2.iloc[0]//1000)
# plt.xticks(rotation=90)
plt.show()
# 가로막대그래프 출력