제목 개봉일 평점 평점에대한 평균과 합계 최대값 최소값을 출력하시오 dataframe사용해서 적용

In [4]:
import requests
from bs4 import BeautifulSoup
from selenium import webdriver
from selenium.webdriver.common.keys import Keys
from selenium.webdriver.common.by import By
from selenium.webdriver.chrome.service import Service
from selenium.webdriver.chrome.options import Options
from selenium.webdriver.support.ui import WebDriverWait
from selenium.webdriver.support import expected_conditions as EC
import pandas as pd
import csv
import time
import random
# 크롬 옵션 설정 - 셀레니움 접근 제한 : 보안접근 해제
options = Options()
options.add_argument("--disable-blink-features=AutomationControlled")  # 자동화 티 안 나게
options.add_argument("start-maximized")
options.add_argument("user-agent=Mozilla/5.0 (Windows NT 10.0; Win64; x64) AppleWebKit/537.36 (KHTML, like Gecko) Chrome/123.0.0.0 Safari/537.36")
options.add_experimental_option("excludeSwitches", ["enable-automation"])
options.add_experimental_option('useAutomationExtension', False)

In [5]:
# #1.csv 파일생성 (import csv 있는지확인)  
# f = open("w0516_데이터분석/moive.csv","w",encoding="utf-8-sig",newline='') # newline 엔터키 안쳐지게하는거 
# writer =csv.writer(f)
# title = ['제목','개봉일','평점']
# writer.writerow(title) # csv 리스트 저장

In [6]:
# 브라우저 실행
browser = webdriver.Chrome(options=options)
browser.maximize_window() # 창 최대화

In [7]:

### 1. 네이버 영화 
url = "https://search.naver.com/search.naver?where=nexearch&sm=tab_etc&qvt=0&query=%EC%9B%94%EB%B3%84%EA%B0%9C%EB%B4%89%EC%98%81%ED%99%94"
browser.get(url)

In [8]:
#1월클릭 
time.sleep(2)
elem =browser.find_element(By.XPATH,'//*[@id="main_pack"]/div[3]/div[2]/div/div/div/div[1]/div[3]/div/div/ul[2]/li[1]/a').click()
time.sleep(1)

In [ ]:
#1.csv 파일생성 (import csv 있는지확인)  
f = open("file/movie.csv","w",encoding="utf-8-sig",newline='') # newline 엔터키 안쳐지게하는거 
writer =csv.writer(f)
title = ['제목','개봉일','평점']
writer.writerow(title) # csv 리스트 저장 
soup = BeautifulSoup(browser.page_source,"lxml")
data = soup.find("div",{"class":"card_area _panel"})
movie_list = data.find_all("div",{"class":"card_item"})
for movie in movie_list :
    #제목 
    title = movie.find("a",{"class":"this_text _text"}).get_text().strip()
    print(title)
    #개봉일
    start = movie.find("dl",{"class":"info_group type_visible"}).find("dd").get_text().strip()
    print(start)
    #평점
    star = movie.find("span",{"class":"num"}).get_text().strip()
    print(star)
    print("-"*30)
    writer.writerow([title,start,star])

f.close()

더 퍼스트 슬램덩크
2025.01.04.
9.25
해리 포터와 죽음의 성물 2
2025.01.15.
9.17
검은 수녀들
2025.01.24.
6.44
히트맨2
2025.01.22.
7.44
러브레터
2025.01.01.
9.32
마당을 나온 암탉
2025.01.22.
8.67
색, 계
2025.01.01.
8.98
말할 수 없는 비밀
2025.01.27.
8.62

In [10]:
df =pd.read_csv('file/movie.csv')
df

                제목          개봉일    평점
0       더 퍼스트 슬램덩크  2025.01.04.  9.25
1  해리 포터와 죽음의 성물 2  2025.01.15.  9.17
2           검은 수녀들  2025.01.24.  6.44
3             히트맨2  2025.01.22.  7.44
4             러브레터  2025.01.01.  9.32
5        마당을 나온 암탉  2025.01.22.  8.67
6             색, 계  2025.01.01.  8.98
7       말할 수 없는 비밀  2025.01.27.  8.62

In [11]:
df.describe()

             평점
count  8.000000
mean   8.486250
std    1.022824
min    6.440000
25%    8.325000
50%    8.825000
75%    9.190000
max    9.320000

In [ ]:
df['평점'].sum() # 합

np.float64(67.89000000000001)

In [ ]:
df['평점'].mean()   #평균

np.float64(8.486250000000002)

In [ ]:
df['평점'].min()  #최소

np.float64(6.44)

In [ ]:
df['평점'].max() #최대

np.float64(9.32)

In [ ]:
df['평점'].nlargest(1) # 제일큰거

4    9.32
Name: 평점, dtype: float64

In [ ]:
df['평점'].nsmallest(1) #제일작은거

2    6.44
Name: 평점, dtype: float64