In [ ]:
#import pandas as pd 

# data = {
#     '이름':['홍길동','유관순','이순신','강감찬','김구','김유신','홍길자','홍길순'],
#     '학교':['가산고','가산고','가산고','가산고','가산고','디지털고','디지털고','디지털고'],
#     '키':[197,184,168,187,188,202,188,190],
#     '국어':[90,40,80,40,15,80,55,100],
#     '영어':[85,35,75,60,20,100,65,85],
#     '수학':[100,50,70,70,10,95,45,90],
#     '과학':[95,55,80,75,35,85,40,95],
#     '사회':[85,25,75,80,10,80,35,95],
#     'SW특기':['Python','Java','Javascript','','','C','PYTHON','C#']
# }
# ## index 추가해서 DataFrame 구성 
# df = pd.DataFrame(data,index=['1번','2번','3번','4번','5번','6번','7번','8번'])
# df.index.name = '지원번호'

In [ ]:
# 데이터 불러오기 
import pandas as pd 
df =pd.read_excel('data/score.xlsx',index_col='지원번호')

DataFrame 기본명령어

In [ ]:
# 데이터 타입이 숫자인 경우만 기본적 통계를 보여줌. 
# str 타입 컬럼은 출력되지않음. 
#df.describe()

#데이터크기 ,데이터유형, Nan데이터 유무 ,.개수 
# df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 8 entries, 1번 to 8번
Data columns (total 9 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   이름      8 non-null      object
 1   학교      8 non-null      object
 2   키       8 non-null      int64
 3   국어      8 non-null      int64
 4   영어      8 non-null      int64
 5   수학      8 non-null      int64
 6   과학      8 non-null      int64
 7   사회      8 non-null      int64
 8   SW특기    6 non-null      object
dtypes: int64(6), object(3)
memory usage: 940.0+ bytes

In [ ]:
#앞부분 n개출력됨 처음 기본형태로 숫자만큼 출력됨 . 
# df.head(2)
# 뒤 부분 n개만 출력됨. 
# df.tail(3)

       이름   학교    키  국어  영어   수학  과학  사회    SW특기
지원번호
1번    홍길동  가산고  197  90  85  100  95  85  Python
2번    유관순  가산고  184  40  35   50  55  25    Java

In [ ]:
# index 읽어오기 
#df.index

#column 리스트 출력 
# df.columns

Index(['이름', '학교', '키', '국어', '영어', '수학', '과학', '사회', 'SW특기'], dtype='object')

In [ ]:
# 데이터 크기 
df.shape

# 배열구조 출력 
df.values

(8, 9)

In [ ]:
#컬럼 출력 
#df['키']

# 키 컬럼에서 큰순서 출력 개수입력시 개수만큼 출력 
#df['키'].nlargest(3)

#작은순서로 출력  
# df['키'].nsmallest()# 기본은 5개출력함
# df['키'].nsmallest(3)

지원번호
3번    168
2번    184
4번    187
Name: 키, dtype: int64

In [24]:
df['학교']

지원번호
1번     가산고
2번     가산고
3번     가산고
4번     가산고
5번     가산고
6번    디지털고
7번    디지털고
8번    디지털고
Name: 학교, dtype: object

In [ ]:
#중복제거후 학교이름 출력 
df['학교'].unique()  # 이름을 출력 
df['학교'].nunique() # 개수를 출력 

# 개수 출력 = Nan데이터 제외후 출력 
df['SW특기'].count() # 6개 :Nan데이터 2개 
df['키'].count()    # 8개

np.int64(8)