14 15 16 4월 사고(건) 데이터만 출력하시오

In [25]:
import pandas as pd

df = pd.read_csv("data/2014년졸음운전교통사고 (1).csv",encoding="euc-kr")
df2 = pd.read_csv("data/2015년졸음운전교통사고 (1).csv",encoding="euc-kr")
df3 = pd.read_csv("data/2016년졸음운전교통사고 (1).csv",encoding="euc-kr")

all_df = pd.concat([df,df2,df3])
all_df
all_df[all_df['구분'].str.contains("4월")]

        구분  사고(건)  사망(명)  부상(명)
3  2014년4월    182      4    360
3  2015년4월    227     10    486
3  2016년4월    216      7    419

In [40]:
import pandas as pd
df1 = pd.read_csv("data/2014년졸음운전교통사고 (1).csv",encoding="euc-kr")
df2 = pd.read_csv("data/2015년졸음운전교통사고 (1).csv",encoding="euc-kr")
df3 = pd.read_csv("data/2016년졸음운전교통사고 (1).csv",encoding="euc-kr")

In [41]:
df1.index

RangeIndex(start=0, stop=12, step=1)

In [42]:
df1.loc['2014년4월','사고(건)']
df1.iloc[3,0]
df2.loc['2015년4월','사고(건)']
df2.iloc[3,0]
df3.loc['2016년4월','사고(건)']
df3.iloc[3,0]

KeyError: '2014년4월'

In [38]:
df1

          구분  사고(건)  사망(명)  부상(명)
0    2014년1월    169      7    347
1    2014년2월    145      3    268
2    2014년3월    206     12    358
3    2014년4월    182      4    360
4    2014년5월    218     17    474
5    2014년6월    233     13    457
6    2014년7월    229     14    431
7    2014년8월    222      9    447
8    2014년9월    225     15    430
9   2014년10월    210     14    392
10  2014년11월    209     10    386
11  2014년12월    178     12    329