In [39]:

import pandas as pd

df = pd.read_excel('data/F000801_20250519143508479_excel.xlsx',skiprows=2, usecols="B:L",nrows=1)
#df = pd.read_excel('data/F000801_20250519143508479_excel.xlsx',skiprows=2, usecols="B:L",nrows=1,index_col='Unnamed: 1')
df

c:\python3\Lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

,Unnamed: 1,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
0,NaN,"438,420","406,243","357,771","326,822","302,676","272,337","260,562","249,186","230,028","230,028"

In [40]:
df.set_index("Unnamed: 1",inplace=True) 
df.index.name = '전체'
df.index=["총합"]
df

,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
총합,"438,420","406,243","357,771","326,822","302,676","272,337","260,562","249,186","230,028","230,028"

In [42]:
df.index=["총합"]

In [ ]:
df.loc['총합']= df.loc['총합'].str.replace(",","").astype(int)

AttributeError: Can only use .str accessor with string values!

In [47]:
df

,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
총합,438420,406243,357771,326822,302676,272337,260562,249186,230028,230028

In [48]:
df.describe()

,2015,2016,2017,2018,2019,2020,2021,2022,2023,2024
count,1,1,1,1,1,1,1,1,1,1
unique,1,1,1,1,1,1,1,1,1,1
top,438420,406243,357771,326822,302676,272337,260562,249186,230028,230028
freq,1,1,1,1,1,1,1,1,1,1

총합 : 평균 , 최대값, 최소값 구하고싶으면 df = df.T 사용

In [49]:
df =df.T

In [ ]:
df.describe()

<class 'pandas.core.frame.DataFrame'>
Index: 10 entries, 2015 to 2024
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   총합      10 non-null     object
dtypes: object(1)
memory usage: 460.0+ bytes

In [55]:
df=df.astype(int)

In [56]:
df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 11 entries, 2015 to 총합
Data columns (total 1 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   총합      11 non-null     int64
dtypes: int64(1)
memory usage: 476.0+ bytes

In [57]:
df.describe()

                  총합
count      11.000000
mean   279461.272727
std    116002.469642
min         1.000000
25%    239607.000000
50%    272337.000000
75%    342296.500000
max    438420.000000